RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
RewriteCond %{HTTP_REFERER} !^.*1piece.cn.*$ [NC]
RewriteCond %{HTTP_REFERER} !^.*baidu.*$ [NC]
RewriteCond %{HTTP_REFERER} !^.*bing.*$ [NC]
RewriteCond %{HTTP_REFERER} !^.*william9.space.*$ [NC]
RewriteRule .(gif|jpg|svg|png|jpeg)$ [R=302,L]

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|svg|css|js)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>
