
/*头部输入框的宽度改为30px  垂直居中*/
.layui-elem-quote input,dd {
    height: 30px;
    line-height: 30px;
}
/*改变头部搜索框的左边框颜色 并改变上下内边距*/
.layui-elem-quote {
    border-left: 5px solid #1E9FFF;
    padding: 8px;
}
/*改变数据表格下面页码按钮的颜色风格*/
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1E9FFF;
}
/*全选按钮选中颜色*/
.layui-form-checked[lay-skin="primary"] i {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}
/*头部输入框加class加 other-search*/
input.other-search {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgb(230, 230, 230);
    height: 30px;
    padding-left: 10px;
}